body{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  height: 2100px;
  max-width: 1400px;
}
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
}
header{
  background: #f6f6f6;
  padding: 22px 0;
}
.header-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-container a{
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  margin-right: 63px;
  padding: 27px 6px;
}
.header-container a:hover{
  background: #ffe900;
}
#menu-checkbox{
  display: none;
}
ul{
  display: flex;
}
nav{
  margin: 20px 0 0 20px;
}
.top-slide{
  background: url(img/slider_bg.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0 280px 0;
}
.top-container{
  width: 85%;
  margin: 0 auto;
}
.top-slide h2{
  background: #ffe900;
  display: inline;
  font-size: 70px;
  padding: 0 13px;
}
.top-slide p{
  background: #414145;
  display: inline;
  font-size: 24px;
  padding: 0 4px;
  color: #fff;
}
.top-slide :nth-child(2){
  margin-bottom: 10px;
}
.specialize-container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.specialize-container h3{
  font-size: 35px;
  margin-top: 25px;
}
.specialize-container p{
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.first-p{
  font-size: 20px;
  color: #fff;
}
.bottom-card{
  background: #414146;
  position: relative;
  top: -30px;
}
.specialize-cards{
  display: flex;
  justify-content: space-between;
}
.top-card{
  background-color: #ffea00;
  height: 200px;
  width: 250px;
  vertical-align: middle;
  margin:0 auto;
}
.portfolio{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.portfolio h4{
  background: #424147;
  padding: 0 8px;
  font-size: 18px;
  display: inline-block;
  color: #f5e10a;
  margin-bottom: 30px;
}
.portfolio p{
  color: #424146;
  font-size: 16px;
}
.toggles button{
  border: 2px solid transparent;
  background: none;
  color: #424146;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 5px;
}
.toggles button:hover{
  border-color: cornflowerblue;
}
.posts{
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.post img{ 
  width: 100%;
}

.brand-slider{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.brand-slider h4{
  margin-top: 40px;
  background: #424147;
  padding: 0 8px;
  font-size: 18px;
  display: inline-block;
  color: #f5e10a;
  margin-bottom: 30px;
}
.brand-slider p{
  color: #424146;
  font-size: 16px;
  margin-bottom: 30px;
}
.owl-carousel .owl-nav button.owl-prev { 
  left: -20px; 
  top: 10px; 
} 
.owl-carousel .owl-nav button.owl-next { 
  right: -20px; 
  top: 10px; 
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { 
  position: absolute; 
  font-size: 60px; 
  color: #e3e3e3; 
  background-color: #000; 
  width: 30px; 
  height: 65px; 
  text-align: center; 
  outline: none; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center; 
}

@media screen and (max-width: 768px){
  .header-container{
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .main-menu{
    display: none;
  }
  .main-menu li{
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .main-menu a{
    display: block;
    padding: 8px;
  }
  .toggle-button{
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
    margin: 22px;
  }
  .toggle-button:after{
    content: attr(data-open);
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .main-menu{
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
    content: attr(data-close);
  }
  .header-container a{
    margin-right: -65px;
  }
  .main-menu{
    position: relative;
    top: 30px;
    right: 115px;
  }
  .top-slide{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .top-slide h2{
    font-size: 32px;
  }
  .top-slide p{
    font-size: 16px;
  }
  .specialize-container p{
    font-size: 16px;
    margin-bottom: 0;
  }
  .specialize-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bottom-card{
    width: 250px;
    margin: 0 auto;
  }
  .posts{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 15px;
  }
}
